.contVideos{
    margin: 6px 16px 30px;
    max-width: 915px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 38px 16px;
    align-self: stretch;
    flex-wrap: wrap;
}

.videoAnim{
    height: 208px;
    align-self: stretch;
    border-radius: 20px;
}

.tituloVideo{
    color:#141538;
    text-align: center;
    font-size: 18px;
    margin-top: 4px;
    font-weight: 400;
    letter-spacing: 0.25px;
}