.contDivButonTogle{
    width: 100%;
    display: flex;
    justify-content: end;
    z-index: -5;
}

.divButonToggle{
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0px 4px;
    width: 60px;
    height: 30px;
    background-color: #0d0e27;
    z-index: 60;
    position: fixed;
    cursor: pointer;
    border: 1px solid #cacaca36;
    margin-top: 12px;
    margin-right: 8px;
}

.butonToggle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    outline: none;
    background-color: #141538;
    height: 24px;
    width: 100%;
    padding: 0px 4px;
    color: #fff;
    border: 1px solid #242424;
    border-radius: 4px;
    transition: all .2s ease;
    cursor: pointer;
}

.negrita{
    font-weight: 700;
}

.butonToggle:active{
    transform: scale(.9);
}

.toggleEn{
    margin-left: 36px;
}


@media (max-width: 750px) {
    .divButonToggle{
        margin-right: 67px;
        margin-top: 11px;
    }
}