.contNosotros{
    max-width: 807px;
    min-height: 300px;
    display: flex;
    padding: 50px 64px 30px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    align-self: stretch;
}

.tituloNosotros{
    margin: 0;
    color: #EAEBED;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: "Inter-Bold",sans-serif;
}

.linkToServicios{
    color: #D9BD4C;
    font-size: 15px;
    line-height: 17px; 
    letter-spacing: 0.4px;
}

@media (max-width: 576px) {
    .contNosotros{
        padding: 50px 47px 30px;
    }
}