.contProd, .contImgProd{
    width: 876px;
}

.contProd{
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contImgProd{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

.divImgProd{
    height: 340px;
}

.tituloProd{
    width: 500px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 20px;
    color:#141538;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 26px; 
    letter-spacing: 0.25px;
}

.parrafoProd{
    color: #141538;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.4px;
    margin-bottom: 20px;
}

.contAcordeones{
    width: 345px;
    min-height: 352px;
}

.contTituloAcor{
    display: flex;
    transform: translateX(-6px);
}

.tituloAcor{
    margin-left: 5px;
    color: #141538;
    font-size: 16px;
    line-height: 24px; 
    letter-spacing: 0.1px;
    font-family: "Inter-Bold",sans-serif;
}

.pAcor{
    opacity: 0;
    margin-top: 12px;
    color:#141538;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; /* 113.333% */
    letter-spacing: 0.4px; 
    transition: all 0.4s ease;
    text-align: justify;
}

.pAcorNone{
    opacity: 1;
}

.contAcor{
    margin-bottom: 12px;
    max-height: 23px;
    overflow: hidden;
    transition: all 0.4s ease;
    cursor: pointer;
}

.none{
    display: none;
}

.display{
    max-height: 270px;
}

.imgProd{
    max-height: 280px;
}

.svgAcor{
    transition: all .3s ease;
}

.svgAcorAnimation{
    animation: subirBajarAcor 2s infinite;
}

@keyframes subirBajarAcor {
    0%, 100% {
      transform: translateY(-2px); 
    }
    50% {
      transform: translateY(4px); 
    }
}

.rotarSvgAcor{
    transform: rotate(180deg);
}

.cursiva{
    font-style: italic;
}

@media (max-width: 940px) {
    .contImgProd{
        max-width: 800px;
    }
}

@media (max-width: 890px) {
    .contProd{
        max-width: 90%;
    }

    .display{
        max-height: 400px;
    }

    .contAcordeones{
        padding: 6px 6px 6px;
        min-height: 488px;
    }

    .contImgProd{
        max-width: 90%;
        gap: 20px;
        margin-bottom: 0px;
    }
}

@media (max-width: 619px) {
    
    .contProd{
        width: 95%;
    }

    .contImgProd{
        width: 95%;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .parrafoProd{
        max-width: 356px;
        padding: 0px 20px;
    }

    .contProd{
        margin-bottom: 10px;
    }

    .display{
        max-height: 300px;
    }
    
    .divImgProd{
        display: none;
    }

    .contAcordeones{
        width: 90%;
        padding: 6px 25px 6px;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 387px;
    }

    .tituloProd{
        padding: 0px 25px;
        width: auto;
    }
}

