.contLineaRedes{
    display: flex;
    justify-content: center;
}

.lineaRedes{
    margin-top: 40px;
    height: 1px;
    width: 100%;
    border-radius: 1px;
    background: #4144B8;
}

.contRedes{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 19px;
    margin-bottom: 26px;
}

.svgBe, .svgRed{
    transition: all 0.1s ease;
}

.svgRed{
    width: 22px;
    height: 22px;
}

.svgBe{
    width: 36px;
    height: 36px;
}

.svgRed:hover{
    width: 27px;
    height: 27px;
}

.svgBe:hover{
    width: 41px;
    height: 41px;
}

.svgRed:active{
    width: 22px;
    height: 22px;
}

.svgBe:active{
    fill: #141538;;
    width: 36px;
    height: 36px;
}

.svgBe:active path, .svgRed:active path{
    fill: #141538;;
}

.svgRed path:active, .svgBe path:active{
   transition: all 0.2s ease;
}

.contRed{
    display: flex;
    justify-content: center;
    width: 44px;
    height: 44px;
}

@media (max-width: 880px) {
    .lineaRedes{
        width: 90%;
    }

    .svgRed:hover{
        width: 22px;
        height: 22px;
    }
    
    .svgBe:hover{
        width: 36px;
        height: 36px;
    }
    
    .contRedes a:hover{
        filter: none;
    }
}