.contLineaRedes{
    display: flex;
    justify-content: center;
}

.lineaRedes{
    margin-top: 40px;
    height: 1px;
    width: 100%;
    border-radius: 1px;
    background: #4144B8;
}

.contRedes{
    display: flex;
    justify-content: center;
    gap: 38px;
    margin-top: 19px;
    margin-bottom: 26px;
}

.contRedes a:hover{
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

.contRedes a svg path:active{
   transition: all 0.3s ease;
   fill: #141538;
}

@media (max-width: 880px) {
    .lineaRedes{
        width: 90%;
    }

    
.contRedes a:hover{
    filter: none;
}
}