.contServicios{
    width: 100%;
    background-color: #443cb4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -2px;
}

.gifServicios{
    height: 550px;
    z-index: 10;
}

.contTituloVidServ{
    height: 480px;
}

.btnEmpecemos{
    justify-content: center;
    padding: 0;
    margin-top: 38px;
    cursor: pointer;
    width: 220px;
    height: 36px;
    background-color: #D9BD4C;
    border-radius: 18px;
    border: solid 1px #141538;
    box-shadow: 6px 6px 0px #141538;
    color: var(--Oscuro, #141538);
    letter-spacing: 1.25px;
    transition: all .1s ease; 
    font-family: "Inter-Bold",sans-serif;
    font-weight: 700;
    margin-bottom: 9px;
    margin-top: 40px;
}

.btnEmpecemos:active{
    transform: translate(6px, 6px);
    background-color: #141538;
    color: #BFC1E0;
    box-shadow: none;
}

.sombraServicios2{
    height: 550px;
    position: absolute;
    right: 5px;
}

.sombraServicios3{
    height: 550px;
    position: absolute;
    z-index: 4;
    
}

.contVidServ2{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    max-width: 800px;
    min-width: 600px;
    position: relative;
    margin-left: 90px;
}

.contVidServ{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    max-width: 800px;
    min-width: 600px;
    position: relative;
    margin-right: 90px;
}

.tituloVidServ{
    color: #EAEBED;
    font-size: 28px;
}

.pVidServ{
    color: #EAEBED;
    margin: 20px 0px;
    font-weight: 400;
    line-height: 25px;
    word-spacing: 3px;
    text-align: justify;
}


.tituloServicios{
    color: #EAEBED;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    margin-top: 70px;
}

.contParrafos{
    padding: 0px 30px;
    margin-bottom: 20px;
    gap: 150px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}

.parrafoServicios{
    max-width: 775px;
    color: var(--Blanco, #EAEBED);
    font-size: 15px;
    line-height: 17px; 
    letter-spacing: 0.4px;
    text-align: justify;
}

.vectorNosotros{
    width: 100%;  
    height: 44px;
}

.vectorNosotros path {
    transform-origin: center;
}

.tituloPrincipal{
    max-width: 950px;
    text-align: center;
    font-family: "Inter-Bold",sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    font-size: 21px;
}

@media (max-width: 992px) {
    .tituloPrincipal{
        font-size: 21px;
    }
}

@media (max-width: 768px) {
    .contServicios{
        top: 1px;
    }

    .contParrafos{
        gap: 70px;
        margin-top: 80px;
    }

    .contVidServ{
        flex-direction: column;
        margin: 0;
        gap: 20px;
        min-width: 400px;
        height: fit-content;
    }

    .sombraServicios2{
        top: 0px;
    }

    .pVidServ{
        max-width: 400px;
    }

    .contTituloVidServ{
        height: fit-content;
    }

    .contVidServ2{
        flex-direction: column-reverse;
        margin: 0;
        gap: 20px;
        height: fit-content;
        min-width: 400px;
    }

    
}

@media (max-width: 576px) {
    .contServicios{
        padding-bottom: 30px;
    }

    .contParrafos{
        margin-top: 60px;
        max-width: 100%;
        padding: 0;
    }

    .gifServicios{
        height: 410px;
    }
    .sombraServicios2{
        height: 410px;
    }
    .sombraServicios3{
        height: 410px;
    }
    .tituloPrincipal{
        font-size: 21px;
    }

    .contVidServ{
        min-width: 300px;
        max-width: 300px;
    }

    .contVidServ2{
        min-width: 300px;
        max-width: 300px;
    }

    .sombraServicios2{
        top: 0;
        right: 0px;
    }

    .tituloVidServ{
        font-size: 20px;
    }
    .contTituloVidServ{
        max-width: 90%;
    }

}