.contServicios{
    width: 100%;
    background-color: #4144B8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -2px;
    z-index: -1;
}

.tituloServicios{
    color: #EAEBED;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.contParrafos{
    padding: 0px 30px;
    margin-bottom: 20px;
    max-width: 775px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.parrafoServicios{
    max-width: 775px;
    color: var(--Blanco, #EAEBED);
    font-size: 15px;
    line-height: 17px; 
    letter-spacing: 0.4px;
    text-align: justify;
}

.vectorNosotros{
    width: 100%;  
    height: 44px;
}

.vectorNosotros path {
    transform-origin: center;
}

.tituloPrincipal{
    max-width: 950px;
    text-align: center;
    font-family: "Inter-Bold",sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    font-size: 21px;
}

@media (max-width: 992px) {
    .tituloPrincipal{
        font-size: 21px;
    }
}

@media (max-width: 768px) {
    .contServicios{
        top: 1px;
    }
}

@media (max-width: 576px) {
    .contServicios{
        padding-bottom: 30px;
    }
    .tituloPrincipal{
        font-size: 26px;
    }
}